body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/resources/PSD/forest.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#dynamicForm label, #dynamicForm select, #dynamicForm input, #dynamicForm button {
    display: block;
    margin: 10px 0;
}

#dynamicForm button {
    cursor: pointer;
}


/* Navigation Bar Styles */
.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Adjust the space between links as needed */
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Ensuring visibility */
    font-weight: bold;
    font-size: medium;
}

/* New style to underline the Travel link */
.nav-links li a[href="/setting"] {
    border-bottom: 2px solid rgb(0, 0, 0); /* Customizable thickness and color */
    padding-bottom: 5px; /* Adjusts the space between the text and the underline */
}
