.register-link {
    right: 100px;
} 

.user-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
} 
/* Position the home button in the top right corner */
 .homepage-link 
 {
    position: absolute;
    top: 20px;
    right: 20px;
 }
body {
    margin: 0;
    padding: 0;
    background-image: url('/resources/PSD/forest.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border-radius: 5px;
    padding: 10px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navbar ul li {
    padding: 10px;
    margin-left: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#chart {
    position: absolute;
    right: 0vh;
    bottom: -10vh;
    transform: translateX(50%);
    max-width: 600px;
    width: 100%;
    margin-left: 450px;
    background-color: rgba(240, 240, 240, 0.5); /* Semi-transparent grey background */
    padding: 20px; /* Add some padding around the chart */
    border-radius: 8px; /* Optional: adds rounded corners to the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    /* Ensure text and other elements are visible above the background */
    z-index: 10;
    height: 500px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header-title {
    display: flex;
    align-items: center;
}
.header-logo img {
    height: 50px;
    margin-left: 15px;
}
h1 
{
    color: #333;
    text-align: center;
    margin-bottom: 1em;
}

.grey-rectangle {
    /* Display texts better */
    display: flex;
    align-items: center; /* Aligns the text block vertically */
    justify-content: center; /* Aligns the text block horizontally */
    text-align: center; /* Ensures that the text within the <p> tag is centered */
    
    
    
    position: absolute;
    left: -33vh;
    bottom: 12vh;
    transform: translateX(50%);
    margin-left: 0px;
    max-width: 600px;
    height: 270px;
    width: 100%; /* Adjust width as needed */
    border-radius: 8px;
    background-color: rgba(240, 240, 240, 0.5); /* Grey background with 80% opacity */
    z-index: 10; /* Ensure it's above other content */
    
}

.grey-rectangle p {
    color: #333; /* Or any color you prefer for the text */
    font-weight: bold;
    font-size: 16px; /* Adjust the size as needed */
    margin: 0; /* Remove default margin from p tag */
    padding: 0 20px; /* Add some padding if needed */
    height: 260px

    /* Remove line-height to allow default line spacing */
}



/* Rectangle 2 changes: */
.grey-rectangle2 {
    position: absolute;
    left: -33vh;
    bottom: 50vh;
    transform: translateX(50%);
    margin-left: 0px;
    max-width: 600px;
    height: 270px;
    width: 100%; /* Adjust width as needed */
    border-radius: 8px;
    background-color: rgba(240, 240, 240, 0.6); /* Grey background with 80% opacity */
    z-index: 10; /* Ensure it's above other content */
    
}

.grey-rectangleb {
    position: absolute;
    left: -41vh;
    bottom: 55vh;
    transform: translateX(50%);
    margin-left: 300px;
    max-width: 600px;
    height: 10%;
    width: 15%; /* Adjust width as needed */
    border-radius: 8px;
    background-color: rgba(206, 203, 203, 0.6); /* Grey background with 80% opacity */
    z-index: 10; /* Ensure it's above other content */
    
}

.grey-rectangleb2 {
    position: absolute;
    left: -41vh;
    bottom: 69vh;
    transform: translateX(50%);
    margin-left: 300px;
    max-width: 600px;
    height: 10%;
    width: 15%; /* Adjust width as needed */
    border-radius: 8px;
    background-color: rgba(206, 203, 203, 0.6); /* Grey background with 80% opacity */
    z-index: 10; /* Ensure it's above other content */
    
}

.grey-rectangleb3 {
    position: absolute;
    left: -4vh;
    bottom: 69vh;
    transform: translateX(50%);
    margin-left: 300px;
    max-width: 600px;
    height: 10%;
    width: 15%; /* Adjust width as needed */
    border-radius: 8px;
    background-color: rgba(206, 203, 203, 0.6); /* Grey background with 80% opacity */
    z-index: 10; /* Ensure it's above other content */
    
}

.grey-rectangleb4 {
    position: absolute;
    left: -4vh;
    bottom: 55vh;
    transform: translateX(50%);
    margin-left: 300px;
    max-width: 600px;
    height: 10%;
    width: 15%; /* Adjust width as needed */
    border-radius: 8px;
    background-color: rgba(206, 203, 203, 0.6); /* Grey background with 80% opacity */
    z-index: 10; /* Ensure it's above other content */
    
}

.grey-rectangleb:hover,
.grey-rectangleb2:hover,
.grey-rectangleb3:hover,
.grey-rectangleb4:hover {
    background-color: rgb(0, 243, 101, 0.6); /* Or any green color you prefer, e.g., #00ff00 for a bright green */
}

/* Login Page */
.container {
    background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white */
    padding: 2em;
    border-radius: 8px;
    width: fit-content; /* or your preferred width */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Style the form sections */
.form-section {
    padding: 20px;
    flex-basis: 45%; /* Adjust the width of the form sections */
  }

  /* Style the form inputs and labels */
.form-group label {
    display: block;
    margin-bottom: .5em;
    color: #333;
}

/* Style the input fields */
.input-field {
    background-color: #aaeeaa; /* light green background */
    border: 1px solid #000; /* black border */
    padding: 10px;
    margin-bottom: 15px; /* space between input fields */
    width: calc(100% - 22px); /* Adjust width based on padding and border */
    box-sizing: border-box;
  }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  border: none;
  border-radius: 4px;
  box-sizing: border-box; /* So the inputs don't exceed their containers */
}
/* Style the buttons */
button {
    background-color: #aaeeaa; /* Green */
    color: black; /* Black text */
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  /* Style the labels for better visibility */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Links for 'Forgot Details' and 'Report Problem' */
  .form-links {
    text-align: center;
    margin-top: 1em;
  }
  
  .form-links a {
    text-decoration: none;
    color: #06C;
    font-size: 0.9em;
  }
  
  /* Responsive adjustments */
  @media (max-width: 960px) {
    .container {
      flex-direction: column;
      width: auto;
    }
  
    .form-section {
      flex-basis: 100%;
    }
  }