<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css" > 

</head>
<body>
    <div class="left-half">
        <div class="content-container">
            <img src="/resources/PSD/ProjectSplash_Cropped.png" alt="Company Title" class="title-image">
            <p class="info-text">Ecolution empowers individuals to reduce<br>
                their carbon footprint with user-friendly tools,<br>
                eco-friendly options, and a supportive community.<br>
                Small actions lead to big change!</p>
        </div>
    </div>
   
    <div class="right-half">
        <div class="form-container">
            
            <div class="header"><h1>Login</h1></div>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <a class="google-btn" href="/auth/google">
                <img src="/resources/PSD/googleIcon.png" alt="Google" style="vertical-align: middle; margin-right: 8px;">
                Log in with Google
            </a>

            <a href="/register" style="text-decoration: none;">
                <p class="register">Register With Us</p>
            </a>
        </div>
    </div>


</body>
</html>