<!DOCTYPE html>
<html>
<head>
    <title>Recycling Centres</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style/recycle1.css" > 


    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

    <link href="/css/mapbox-gl.css" rel="stylesheet">
<script type="text/javascript" src="/js/mapbox-gl.js"></script>
</head>
<body>
    <div id="container">
        <div id="recyclingCentresList"></div>
        <div id="centreDetails">Select a recycling centre to view details.</div>
    </div>

    <div class="nav-bar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/ecoTravelRoutes">Travel</a></li>
            <li><a href="/recycle">Recycle</a></li>
            <li><a href="/leaderboard">leaderboard</a></li>
        </ul>
    </div>

    <!-- search form for address, radius and count -->
    

    <script type="text/javascript">
        $(document).ready(function() {
            var userPostcode = '<%= postcodePrefix %> <%= postcodeSuffix %>';
    
            // Convert postcode to coordinates
            $.get('/convert-postcode-to-coordinates', {postcode: userPostcode}, function(coords) {
                var userLat = coords.latitude;
                var userLng = coords.longitude;
    
                // Fetch recycling centres now that we have the user's coordinates
                $.ajax({
                    url: '/get-recycling-centres',
                    type: 'GET',
                    success: function(data) {
                        if(data && Array.isArray(data) && data.length > 0) {
                            var centresHTML = data.map(function(centre, index) {
                                return `<div class="centre-item" data-index="${index}" data-lat="${centre.latitude}" data-lng="${centre.longitude}" data-name="${centre.name}">
                                            <h2>${centre.name}</h2>
                                            <p>${centre.distance.toFixed(2)} miles</p>
                                            <p>${centre.materials.length} materials accepted</p>
                                        </div>`;
                            }).join('');
                            $('#recyclingCentresList').html(centresHTML);
            
                            $('#recyclingCentresList').on('click', '.centre-item', function() {
                                var index = $(this).data('index');
                                var selectedCentre = data[index];
                                var detailsHTML = `
                                    <h2 class="distance">${selectedCentre.distance.toFixed(2)} miles away</h2>
                                    <h2 class="location-title">${selectedCentre.name}</h2>
                                    <p class="address">${selectedCentre.address}</p>
                                    <p>The following materials can be recycled at this place:</p>
                                    <p>Materials: ${selectedCentre.materials.join(', ')}</p>
                                    <div id="mapPlaceholder"></div>`; // Map placeholder with increased height
                                $('#centreDetails').html(detailsHTML);
            
                                showMapPlaceholder(userLat, userLng, selectedCentre.latitude, selectedCentre.longitude, selectedCentre.name.replace(/'/g, "\\'"));
                            });
                        } else {
                            $('#recyclingCentresList').html('<p>No recycling centres found.</p>');
                        }
                    },
                    error: function(error) {
                        console.error('Error loading recycling centres:', error);
                        $('#recyclingCentresList').html('<p>Failed to load recycling centres. Please try again later.</p>');
                    }
                });
            }).fail(function() {
                alert('Failed to get user location from postcode.');
            });
    
            function showMapPlaceholder(userLat, userLng, centreLat, centreLng, centreName) {
                mapboxgl.accessToken = 'pk.eyJ1IjoicHJpbWFscmV4IiwiYSI6ImNscmFrbWg2cjBjbDUyaW13dmxjeG96bXoifQ.ktWyvNqeJ4awZ2pu__T1Xw'; // Replace with your Mapbox access token
                var map = new mapboxgl.Map({
                    container: 'mapPlaceholder', // Container ID
                    style: 'mapbox://styles/mapbox/dark-v10', // Style URL
                    center: [userLng, userLat], // Starting position [lng, lat]
                    zoom: 15, // Starting zoom
                    attributionControl: false // Disables the default attribution control, minimizes trademarks/logos
                });
    
                // If you want to show a custom attribution, you can add it using the AttributionControl
                map.addControl(new mapboxgl.AttributionControl({
                    compact: true
                }));
    
                map.on('load', function() {
                    var elUserLocation = document.createElement('div');
                    elUserLocation.style.backgroundColor = 'blue';
                    elUserLocation.style.color = 'white';
                    elUserLocation.style.padding = '5px';
                    elUserLocation.style.borderRadius = '5px';
                    elUserLocation.innerText = "You're here";
    
                    new mapboxgl.Marker(elUserLocation)
                        .setLngLat([userLng, userLat])
                        .addTo(map);
    
                    var elCentreLocation = document.createElement('div');
                    elCentreLocation.style.backgroundColor = 'green';
                    elCentreLocation.style.color = 'white';
                    elCentreLocation.style.padding = '5px';
                    elCentreLocation.style.borderRadius = '5px';
                    elCentreLocation.innerHTML = centreName;
    
                    new mapboxgl.Marker(elCentreLocation)
                        .setLngLat([centreLng, centreLat])
                        .addTo(map);
    
                    map.fitBounds([
                        [userLng, userLat], // Southwest coordinates
                        [centreLng, centreLat] // Northeast coordinates
                    ], {
                        padding: {top: 10, bottom:25, left: 15, right: 5}
                });
            });

            // Optionally, if you want to remove or minimize the logo
            // You can manipulate the CSS directly to hide or alter the logo's appearance
            // Please check Mapbox's terms of service before hiding the logo to ensure compliance
            map.addControl(new mapboxgl.NavigationControl());
            $('.mapboxgl-ctrl-logo').hide();
        }
    });
</script>
    

    
    
    
    
    
</body>
</html>
