<!DOCTYPE html>
<html>
<head>
    <title>Recycling Centres</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="recyclingCentresList">Loading recycling centres...</div>

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: '/get-recycling-centres', // This endpoint needs to be defined in your Express app
                type: 'GET',
                success: function(data) {
                    var centresHTML = data.map(function(centre) {
                        return '<div>' +
                               '<h2>' + centre.name + '</h2>' +
                               '<p>Address: ' + centre.address + '</p>' +
                               '<p>Distance: ' + centre.distance + ' miles</p>' +
                               '<p>Materials: ' + centre.materials.join(', ') + '</p>' +
                               '</div>';
                    }).join('');
                    $('#recyclingCentresList').html(centresHTML);
                },
                error: function(error) {
                    $('#recyclingCentresList').html('Failed to load recycling centres.');
                }
            });
        });
    </script>
</body>
</html>
