<!DOCTYPE html>
<html>
<head>
    <title>Recycling Centres</title>
</head>
<body>
    <div id="recyclingCentresList">Loading recycling centres...</div>

    <script type="text/javascript" src="\source\apis\recyclenow.js"></script>
    <script src="https://www.recyclenow.com/recycling-locator"></script>
    <script>
        // Assuming GB_recyclingCentres is the variable containing the module from recyclenow.js
        GB_recyclingCentres. getNearestRecyclingCentresByPostCode("cr4", "1sd", 25, 30, function(error, data) {
            if (error) {
                console.error(error);
                document.getElementById('recyclingCentresList').innerHTML = 'Failed to load recycling centres.';
            } else {
                // Example: Update the HTML with the fetched data
                const centresList = data.map(centre => `<li>${centre.name} - ${centre.address}</li>`).join('');
                document.getElementById('recyclingCentresList').innerHTML = `<ul>${centresList}</ul>`;
            }
        });
    </script>
</body>
</html>
