<!DOCTYPE html>
<html>
<head>
    <title>Recycling Centres</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style/recycle1.css" > 
</head>
<body>
    <div id="container">
        <div id="recyclingCentresList"></div>
        <div id="centreDetails">Select a recycling centre to view details.</div>
    </div>

    <!-- search form for address, radius and count -->
    

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: '/get-recycling-centres',
                type: 'GET',
                success: function(data) {
                    if(data && Array.isArray(data) && data.length > 0) {
                        var centresHTML = data.map(function(centre, index) {
                            return `<div class="centre-item" data-index="${index}">
                                    <h2>${centre.name}</h2>
                                    <p>${centre.distance.toFixed(2)} miles</p>
                                    <p>${centre.materials.length} materials accepted</p>
                                    </div>`;
                        }).join('');
                        $('#recyclingCentresList').html(centresHTML);
    
                        $('#recyclingCentresList').on('click', '.centre-item', function() {
                            var index = $(this).data('index');
                            var selectedCentre = data[index];
                            var detailsHTML = `<h2>${selectedCentre.address}</h2>
                                               <p>The following things can be recycled at this place:</p>
                                               <p>Materials: ${selectedCentre.materials.join(', ')}</p>
                                               <p>Distance: ${selectedCentre.distance.toFixed(2)} miles</p>
                                               <a href="#" class="show-map" onclick="showMapPlaceholder(); return false;">Show map</a>
                                               <span>//placeholder for mini map below</span>`;
                            $('#centreDetails').html(detailsHTML);
                        });
                    } else {
                        $('#recyclingCentresList').html('<p>No recycling centres found.</p>');
                    }
                },
                error: function(error) {
                    console.error('Error loading recycling centres:', error);
                    $('#recyclingCentresList').html('<p>Failed to load recycling centres. Please try again later.</p>');
                }
            });
        });
    
        function showMapPlaceholder() {
            alert("Show mini sized map functionality will be implemented below.");
        }
    </script>
    
    
    
</body>
</html>
