<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style/register.css" > 
</head>
<body>
    <div class="left-half">
        <div class="content-container">
            <img src="/resources/PSD/ProjectSplash_Cropped.png" alt="Company Title" class="title-image">
            <p class="info-text">Ecolution empowers individuals to reduce<br>
                their carbon footprint with user-friendly tools,<br>
                eco-friendly options, and a supportive community.<br>
                Small actions lead to big change!</p>
        </div>
    </div>
    <div class="right-half">
        <div class="form-container">
            
            <div class="header" style="margin-left: -55px;"><h1>Register Here</h1></div>
            <% if (error) { %>
                <p style="color: red;"><%= error %></p>
            <% } %>
            <% if (passwordError) { %>
                <p style="color: red;"><%= passwordError %></p>
            <% } %>
            <form action="/register" method="post">
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type ="password" name="confirmPassword" placeholder="Confirm Password" required>
                <button type="submit" style="margin-left: 60px;" >Register</button>
            </form>

            <a class="google-btn" href="/auth/google" style="margin-left: -40px;"> <!-- Adjust the value as needed -->
                <img src="/resources/PSD/googleIcon.png" alt="Google" style="vertical-align: middle; margin-right: 8px;">
                Log in with Google
            </a>

            <a href="/login" style="text-decoration: none;">
                <p class="login" style="margin-left: -40px;">Already have an account?</p>
            </a>
        </div>
   
        <!-- Add your content here password requirements -->
   
   
   
   
   
   
    </div>




</body>
</html>